            <!-- wrapper-->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section single-par" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="/images/banner/ararsin-banner-blog.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay op7"></div>
                        <div class="container">
                            <div class="section-title center-align big-title">
                                <h2><span>Blog</span></h2>
                                <span class="section-separator"></span>
                                <div class="breadcrumbs fl-wrap"><a href="https://ararsin.com">Ararsın.com</a><span>Blog</span></div>
                            </div>
                        </div>
                        <div class="header-sec-link">
                            <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a> 
                        </div>
                    </section>
                    <!--  section  end-->
                    <section class="gray-bg no-top-padding-sec" id="sec1">
                        <div class="container">
                            <div class="breadcrumbs inline-breadcrumbs fl-wrap block-breadcrumbs">
                                <a href="#">Ararsın.com</a> <span>Blog</span> 
                                <div  class="showshare brd-show-share color2-bg"> <i class="fas fa-share"></i> Paylaş </div>
                            </div>
                            <div class="share-holder hid-share sing-page-share top_sing-page-share">
                                <div class="share-container  isShare"></div>
                            </div>
                            <div class="post-container fl-wrap">
                                <div class="row">
                                    <!-- blog content-->
                                    <div class="col-md-8">
                                        {{#each blog}} 
                                        <!-- article> --> 
                                        <article class="post-article">
                                            <div class="list-single-main-media fl-wrap">
                                                <img src="{{ana_resim}}" class="respimg" alt="{{baslik}}">
                                            </div>
                                            <div class="list-single-main-item fl-wrap block_box">
                                                <h2 class="post-opt-title"><a href="/blog/{{slug}}">{{baslik}}</a></h2>
                                                <p>{{kisa_yazi}}</p>
                                                <span class="fw-separator"></span>
                                                <div class="post-author"><a href="#"><img src="{{ana_resim}}" alt=""><span>{{yazar}}</span></a></div>
                                                <div class="post-opt">
                                                    <ul class="no-list-style">
                                                        <li><i class="fal fa-calendar"></i> <span>{{date_format date}}</span></li>
                                                        <li><i class="fal fa-eye"></i> <span>{{ziyaretci}}</span></li>
                                                        <li><i class="fal fa-tags"></i>
                                                            {{#each_limit etiketler 2}}
                                                            <a href="#">{{this}}, </a>
                                                            {{/each_limit}}<a href="#">ararasin.com</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <a href="/blog/{{slug}}" class="btn  color2-bg float-btn">Devamını oku<i class="fal fa-angle-right"></i></a>
                                            </div>
                                        </article>
                                        {{/each}}
                                        <!-- article end -->  

                                        <div class="pagination fwmpag" id="sayfalama">
                                            {{#if p.onceki}}
                                            <div class="hide" id="onceki">{{p.onceki}}</div>
                                            <a href="" id="link-onceki" class="prevposts-link"><i class="fas fa-caret-left"></i><span>Önceki</span></a>
                                            {{/if}}
                                            {{#if p.sonraki}}
                                            <div class="hide" id="sonraki">{{p.sonraki}}</div>
                                            <a href="" id="link-sonraki" class="nextposts-link"><span>Sonraki</span><i class="fas fa-caret-right"></i></a>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <!-- blog conten end-->
                                    <!-- blog sidebar -->
                                    <div class="col-md-4">
                                        <div class="box-widget-wrap fl-wrap fixed-bar">
                                            <!--box-widget-item -->
                                            <div class="box-widget-item fl-wrap block_box">
                                                <div class="box-widget-item-header">
                                                    <h3>Blog da Arama Yapın</h3>
                                                </div>
                                                <div class="box-widget fl-wrap">
                                                    <div class="box-widget-content">
                                                        <div class="search-widget">
                                                            <form action="#" class="fl-wrap">
                                                                <input name="se" id="se" type="text" class="search" placeholder="Arama.." value="" />
                                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--box-widget-item end -->                                    
                                            <!--box-widget-item -->
                                            <div class="box-widget-item fl-wrap block_box">
                                                <div class="box-widget-item-header">
                                                    <h3>Popüler Yazılar</h3>
                                                </div>
                                                <div class="box-widget  fl-wrap">
                                                    <div class="box-widget-content">
                                                        <!--widget-posts-->
                                                        <div class="widget-posts  fl-wrap">
                                                            <ul class="no-list-style">
                                                                 {{#each (footer_blog)}}
                                                                <li>
                                                                    <div class="widget-posts-img"><a href="{{this.link}}"><img src="{{this.resim}}" alt=""></a></div>
                                                                    <div class="widget-posts-descr">
                                                                        <h4><a href="{{this.link}}">{{this.adi}}</a></h4>
                                                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fal fa-calendar"></i> {{this.tarih}}</a></div>
                                                                
                                                                    </div>
                                                                </li>
                                                                {{/each}}                                                                
                                                            </ul>
                                                        </div>
                                                        <!-- widget-posts end-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--box-widget-item end -->                                     
                                            <!--box-widget-item -->
                                            <div class="box-widget-item fl-wrap">
                                                <div class="banner-wdget fl-wrap">
                                                    <div class="overlay"></div>
                                                    <div class="bg"  data-bg="/images/banner/ararsin-banner-hakkimizda.webp"></div>
                                                    <div class="banner-wdget-content fl-wrap">
                                                        <h4>Bizimle ilgili daha çok bilgi almak ister misiniz?</h4>
                                                        <a href="/hakkimizda" class="custom-scroll-link color-bg" > Hemen İncele</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--box-widget-item end -->                                        
                                            <!--box-widget-item -->
                                            <div class="box-widget-item fl-wrap block_box">
                                                <div class="box-widget-item-header">
                                                    <h3>Etiketler</h3>
                                                </div>
                                                <div class="box-widget fl-wrap">
                                                    <div class="box-widget-content">
                                                        <div class="list-single-tags tags-stylwrap">
                                                            {{#each (footer_etiket)}}
                                                                <a href="{{link}}">{{etiket}}</a>
                                                            {{/each}}                                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--box-widget-item end -->                                     
                                                                      
                                        </div>
                                    </div>
                                    <!-- blog sidebar end -->
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!--content end-->
            </div>
            <!-- wrapper end-->