            <!-- wrapper-->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <section class="gray-bg no-top-padding-sec" id="sec1">
                        <div class="container">
                            <div class="breadcrumbs inline-breadcrumbs fl-wrap block-breadcrumbs">
                                <a href="#">Ararsin.com</a><a href="#">Blog</a> <span>{{blog.baslik}}</span> 
                                <div  class="showshare brd-show-share color2-bg"> <i class="fas fa-share"></i> Paylaş </div>
                            </div>
                            <div class="share-holder hid-share sing-page-share top_sing-page-share">
                                <div class="share-container  isShare"></div>
                            </div>
                            <div class="post-container fl-wrap">
                                <div class="row">
                                    <!-- blog content-->
                                    <div class="col-md-8">
                                        <!-- article> --> 
                                        <article class="post-article single-post-article">
                                            <div class="list-single-main-media fl-wrap">
                                                <img src="/images/all/1.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="list-single-main-item fl-wrap block_box">
                                                <h3 class="post-opt-title">{{blog.baslik}}</h3>
                                                <h2 class="hide"><a href="">{{blog.baslik}}</a></h2>
                                                <div class="post-author"><a href="#"><img src="/images/avatar/1.jpg" alt=""><span>{{blog.yazar}}</span></a></div>
                                                <div class="post-opt">
                                                    <ul class="no-list-style">
                                                        <li><i class="fal fa-calendar"></i> <span>{{date_format blog.date}}</span></li>
                                                        <li><i class="fal fa-eye"></i> <span>{{blog.ziyaretci}}</span></li>
                                                        <li><i class="fal fa-tags"></i>
                                                        {{#each_limit blog.etiketler 2}}
                                                            <a href="#">{{this}}, </a>
                                                        {{/each_limit}}<a href="#">ararsin.com</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="fw-separator"></span> 
                                                <div class="clearfix"></div>
                                                {{#each blog.icerik}}
                                                    {{#if (iff this.etiket "blockquote")}}
                                                    <blockquote>
                                                        <p>{{this.icerik}}</p>
                                                    </blockquote>
                                                    {{else}}
                                                    <{{this.etiket}}>{{this.icerik}}</{{this.etiket}}>
                                                    {{/if}}
                                                {{/each}}
                                                <span class="fw-separator"></span> 
                                                <div class="list-single-tags tags-stylwrap">
                                                    <span class="tags-title"><i class="fas fa-tag"></i> Etiketler : </span>
                                                    {{#each blog.etiketler}}
                                                    <a href="#">{{this}}</a>
                                                    {{/each}}
                                                                               
                                                </div>
                                            </div>
                                        </article>
                                        <!-- article end --> 
                                        <!-- post nav --> 
                                        <div class="post-nav-wrap fl-wrap">
                                            <a class="post-nav post-nav-prev" href="/{{random_blog1.slug}}"><span class="post-nav-img"><img src="{{random_blog1.ana_resim}}" alt="{{random_blog1.baslik}}"></span><span class="post-nav-text"><strong>Önceki </strong> <br>{{random_blog1.baslik}}</span></a> 
                                            <a class="post-nav post-nav-next" href="/{{random_blog2.slug}}"><span class="post-nav-img"><img src="{{random_blog2.ana_resim}}" alt="{{random_blog2.baslik}}"></span><span class="post-nav-text"><strong>Sonraki </strong><br>{{random_blog2.baslik}}</span></a> 
                                        </div>
                                        <!-- post nav end -->                             
                                        <!-- list-single-main-item -->   
                                        <div class="list-single-main-item fl-wrap block_box" id="sec6">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Yorum Yapın</h3>
                                            </div>
                                            <!-- Add Review Box -->
                                            <div id="add-review" class="add-review-box">
                                                <!-- Review Comment -->
                                                <form id="add-comment" class="add-comment  custom-form" name="rangeCalc" >
                                                    <fieldset>
                                                        <div class="list-single-main-item_content fl-wrap">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label><i class="fal fa-user"></i></label>
                                                                    <input type="text" placeholder="Adınız *" value=""/>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label><i class="fal fa-envelope"></i>  </label>
                                                                    <input type="text" placeholder="Email Adresiniz*" value=""/>
                                                                </div>
                                                            </div>
                                                            <textarea cols="40" rows="3" placeholder="Yorumunuz:"></textarea>
                                                            <div class="clearfix"></div>
                                                            <button class="btn  color2-bg  float-btn" style="margin-top:30px;">Yorum Gönder <i class="fal fa-paper-plane"></i></button>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <!-- Add Review Box / End -->
                                        </div>
                                        <!-- list-single-main-item end -->                                               
                                    </div>
                                    <!-- blog conten end-->
                                    <!-- blog sidebar -->
                                    <div class="col-md-4">
                                        <div class="box-widget-wrap fl-wrap fixed-bar">
                                            <!--box-widget-item -->
                                            <div class="box-widget-item fl-wrap block_box">
                                                <div class="box-widget-item-header">
                                                    <h3>Blogda Arama Yapın</h3>
                                                </div>
                                                <div class="box-widget fl-wrap">
                                                    <div class="box-widget-content">
                                                        <div class="search-widget">
                                                            <form action="#" class="fl-wrap">
                                                                <input name="se" id="se" type="text" class="search" placeholder="Arama.." value="" />
                                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--box-widget-item end -->  
                                            <!--box-widget-item -->
                                            <div class="box-widget-item fl-wrap block_box">
                                                <div class="box-widget-item-header">
                                                    <h3>Popüler Yazılar</h3>
                                                </div>
                                                <div class="box-widget  fl-wrap">
                                                    <div class="box-widget-content">
                                                        <!--widget-posts-->
                                                        <div class="widget-posts  fl-wrap">
                                                            <ul class="no-list-style">
                                                                {{#each (footer_blog)}}
                                                                <li>
                                                                    <div class="widget-posts-img"><a href="{{this.link}}"><img src="{{this.resim}}" alt=""></a></div>
                                                                    <div class="widget-posts-descr">
                                                                        <h4><a href="{{this.link}}">{{this.adi}}</a></h4>
                                                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fal fa-calendar"></i> {{this.tarih}}</a></div>
                                                                
                                                                    </div>
                                                                </li>
                                                                {{/each}}  
                                                                
                                                            </ul>
                                                        </div>
                                                        <!-- widget-posts end-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--box-widget-item end -->                                     
                                           <!--box-widget-item -->
                                            <div class="box-widget-item fl-wrap">
                                                <div class="banner-wdget fl-wrap">
                                                    <div class="overlay"></div>
                                                    <div class="bg"  data-bg="/images/banner/ararsin-banner-hakkimizda.webp"></div>
                                                    <div class="banner-wdget-content fl-wrap">
                                                        <h4>Bizimle ilgili daha çok bilgi almak ister misiniz?</h4>
                                                        <a href="/hakkimizda" class="custom-scroll-link color-bg" > Hemen İncele</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--box-widget-item end -->                                            
                                            <!--box-widget-item -->
                                            <div class="box-widget-item fl-wrap block_box">
                                                <div class="box-widget-item-header">
                                                    <h3>Etiketler</h3>
                                                </div>
                                                <div class="box-widget fl-wrap">
                                                    <div class="box-widget-content">
                                                        <div class="list-single-tags tags-stylwrap">
                                                            {{#each (footer_etiket)}}
                                                                <a href="{{link}}">{{etiket}}</a>
                                                            {{/each}}                                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--box-widget-item end -->                                          
                                                      
                                        </div>
                                    </div>
                                    <!-- blog sidebar end -->
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!--content end-->
            </div>
            <!-- wrapper end-->