    <!DOCTYPE HTML>
    <html lang="tr">

    <head>
        <!--=============== basic  ===============-->
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>{{title}}</title>
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="{{#each keywords}}{{this}}, {{/each}}ararsin, firma rehberi" />
        <meta name="description" content="{{description}}" />
        <Link rel="canonical" href="{{canonical}}" />
        
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="/tema/css/style.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="/tema/images/favico/{{logo}}.ico">
    </head>

    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="loader-inner">
                <div class="loader-inner-cirle"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- main start  -->
        <div id="main">
            <!-- header -->
            <header class="main-header">
                <!-- logo-->
                <a href="/" class="logo-holder"><img src="/tema/images/logo/{{logo}}.png" alt="Ararsın.com logo"></a>
                <!-- logo end-->
                <!-- header-search_btn-->
                <div class="header-search_btn show-search-button"><i class="fal fa-search"></i><span>Hızlı Arama</span></div>
                <!-- header-search_btn end-->
                <!-- header opt -->
                <a href="/iletisim" class="add-list color-bg">Reklam Ver <span><i class="fal fa-layer-plus"></i></span></a>
                <!--<div class="cart-btn   show-header-modal" data-microtip-position="bottom" role="tooltip" aria-label="Your Wishlist"><i class="fal fa-heart"></i><span class="cart-counter green-bg"></span> </div> -->
                <!-- nav-button-wrap-->
                <div class="nav-button-wrap color-bg">
                    <div class="nav-button">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <!-- modal için olması gereken class show-reg-form modal-open avatar-img -->
                <div class="show-reg-form avatar-img" data-srcav="/tema/images/avatar/3.jpg"><i
                        class="fal fa-user"></i>Üye Girişi</div>
                <!-- header opt end-->
                <!-- lang-wrap-->
                <div class="lang-wrap">
                    <div class="show-lang"><span><i class="fal fa-globe-europe"></i><strong>Tr</strong></span><i
                            class="fa fa-caret-down arrlan"></i></div>
                    <ul class="lang-tooltip lang-action no-list-style">
                        <li><a href="#" class="current-lan" data-lantext="En">Türkçe</a></li>
                        <li><a href="#" class="current-lan" data-lantext="En">English</a></li>
                    </ul>
                </div>
                <!-- lang-wrap end-->

                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul class="no-list-style">

                            <li>
                                <a href="/iletisim" class="link">Ads </a>
                            </li>
                            <li>
                                <a href="/hakkimizda" class="link">Hakkımızda </a>
                            </li>
                            <li>
                                <a href="/blog" class="link">#Blog </a>
                            </li>
                            <li>
                                <a href="/sss" class="link">S.S.S. </a>
                            </li>
                            <li>
                                <a href="/paketler" class="link">Paketler </a>
                            </li>


                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
                <!-- header-search_container -->
                <div class="header-search_container header-search vis-search">
                    <div class="container small-container">
                        <div class="header-search-input-wrap fl-wrap">
                            <form method="GET" action="/arama">
                                <!-- header-search-input -->
                                <div class="header-search-input header-search-input-50">
                                    <label><i class="fal fa-handshake-alt"></i></label>
                                    <input type="text" placeholder="Firma Adı, Kategori" name="q" value="" required
                                        oninput="this.setCustomValidity('')"
                                        oninvalid="this.setCustomValidity('Aramak istediğiniz ismi yada kategoriyi giriniz.')" />
                                </div>
                                <!-- header-search-input end -->
                                <!-- header-search-input -->
                                <div class="header-search-input header-search_selectinpt header-search-input-50 "
                                    id="locHeader" aria-required="true">
                                    <select class="chosen-select on-radius" name="l" id="Headerkutu2">
                                        <option value="Tüm Türkiye">Tüm Türkiye</option>
                                    </select>
                                </div>
                                <!-- header-search-input end -->
                                <button type="submit" class="header-search-button green-bg"><i class="far fa-search"></i>
                                    Hemen Bul </button>
                            </form>
                        </div>
                        <div class="header-search_close color-bg"><i class="fal fa-long-arrow-up"></i></div>
                    </div>
                </div>
                <!-- header-search_container  end -->
            </header>
            <!-- header end-->
            <!-- wrapper-->
            {{{body}}}
            <!-- wrapper end-->
            <!--footer -->
            <footer class="main-footer fl-wrap">
                <!-- footer-header-->
                <div class="footer-header fl-wrap grad ient-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="subscribe-header">
                                    <h3>Bizi ve gelişmeleri <span>Takip Edin</span></h3>
                                    <p>Çevrenizde olan bitenden haberdar olmak ister misini? Abone Olun</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="subscribe-widget">
                                    <div class="subcribe-form">
                                        <form id="subscribe">
                                            <input class="enteremail fl-wrap" name="email" id="subscribe-email"
                                                placeholder="Email Adresiniz" spellcheck="false" type="text">
                                            <button type="submit" id="subscribe-button" class="subscribe-button"><i
                                                    class="fal fa-envelope"></i></button>
                                            <label for="subscribe-email" class="subscribe-message"></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-header end-->
                <!--footer-inner-->
                <div class="footer-inner   fl-wrap">
                    <div class="container">
                        <div class="row">
                            <!-- footer-widget-->
                            <div class="col-md-4">
                                <div class="footer-widget fl-wrap">
                                    <div class="footer-logo"><a href="index.html"><img src="/tema/images/logo/{{logo}}.png" alt="Ararsın.com logo"></a>
                                    </div>
                                    <div class="footer-contacts-widget fl-wrap">
                                        <p>Firmaları ve müşterileri bir araya getiren en büyük platform. Ararsın com ile hemen iletişime geçip yeni müşteriler kazanabilirsiniz. Aradığınız her yer 7/24 çevrimiçi destek ile sadece ararsın da. Her daim yanınızdayız. </p>
                                        <ul class="footer-contacts fl-wrap no-list-style">
                                            <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="mailto:bilgi@ararsin.com"
                                                    target="_blank">bilgi@ararsin.com</a></li>
                                            <li> <span><i class="fal fa-map-marker"></i> Adres :</span><a href="#"
                                                    >Muratreis Mah. Üsküdar/İSTANBUL</a></li>
                                            <li><span><i class="fal fa-phone"></i> Phone :</span><a
                                                    href="tel:08503052296">0 850 305 22 96</a></li>
                                        </ul>
                                        <div class="footer-social">
                                            <span>Bizi takip edin: </span>
                                            <ul class="no-list-style">
                                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget end-->
                            <!-- footer-widget-->
                            <div class="col-md-4">
                                <div class="footer-widget fl-wrap">
                                    <h3>Blog</h3>
                                    <div class="footer-widget-posts fl-wrap">
                                        <ul class="no-list-style">
                                            {{#each (footer_blog)}}
                                            <li class="clearfix">
                                                <a href="#" class="widget-posts-img"><img src="{{resim}}"
                                                        class="respimg" alt="{{adi}}"></a>
                                                <div class="widget-posts-descr">
                                                    <a href="#" title="">{{adi}}</a>                                                    
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i>{{tarih}}</span>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        <a href="/blog" class="footer-link">Tümü <i
                                                class="fal fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget end-->
                            <!-- footer-widget  -->
                            <div class="col-md-4">
                                <div class="footer-widget fl-wrap">
                                    <h3>Etiketler</h3>
                                    <div class="box-widget-content">
                                    <div class="list-single-tags tags-stylwrap">
                                        {{#each (footer_etiket)}}
                                        <a href="{{link}}">{{etiket}}</a>
                                        {{/each}}
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- footer-widget end-->
                        </div>
                    </div>
                    <!-- footer bg-->
                    <div class="footer-bg" data-ran="4"></div>
                    <div class="footer-wave">
                        <svg viewbox="0 0 100 25">
                            <path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
                        </svg>
                    </div>
                    <!-- footer bg  end-->
                </div>
                <!--footer-inner end -->
                <!--sub-footer-->
                <div class="sub-footer  fl-wrap">
                    <div class="container">
                        <div class="copyright"> &#169; Ararsin 2021 . Tüm hakları saklıdır.</div>
                        <div class="lang-wrap">
                            <div class="show-lang"><span><i class="fal fa-globe-europe"></i><strong>Tr</strong></span><i
                                    class="fa fa-caret-down arrlan"></i></div>
                            <ul class="lang-tooltip lang-action no-list-style">
                                <li><a href="#" class="current-lan" data-lantext="Tr">Türkçe</a></li>
                                <li><a href="#" class="current-lan" data-lantext="En">English</a></li>
                            </ul>
                        </div>
                        <div class="subfooter-nav">
                            <ul class="no-list-style">
                                <li><a href="/yasal-bildiriler">Bildiriler</a></li>
                                <li><a href="/kvkk">KVKK</a></li>
                                <li><a href="/hizmet-sozlesmesi">Hizmet Sözleşmesi</a></li>
                                <li><a href="/gizlilik-sozlesmesi">Gizlilik Sözleşmesi</a></li>
                                <li><a href="/yasal-uyarilar">Yasal Uyarılar</a></li>
                                <li><a href="/icerik-ve-cerezler">İçerik ve Çerez Politikası</a></li>
                                <li><a href="/blog">#Blog</a></li>
                                <li><a href="/sehirler">Şehirler</a></li>
                                <li><a href="/kategoriler">Kategoriler</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--sub-footer end -->
            </footer>
            <!--footer end -->
            <!--register form -->
            <div class="main-register-wrap modal">
                <div class="reg-overlay"></div>
                <div class="main-register-holder tabs-act">
                    <div class="main-register fl-wrap  modal_main">
                        <div class="main-register_title"><span><strong>Ararsın</strong>.com<strong></strong>'a
                                Hoşgeldiniz.</span>
                        </div>
                        <div class="close-reg"><i class="fal fa-times"></i></div>
                        <ul class="tabs-menu fl-wrap no-list-style">
                            <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> Giriş Yap</a></li>
                            <li><a href="#tab-2"><i class="fal fa-user-plus"></i> Kayıt Ol</a></li>
                        </ul>
                        <!--tabs -->
                        <div class="tabs-container">
                            <div class="tab">
                                <!--tab -->
                                <div id="tab-1" class="tab-content first-tab">
                                    <div class="custom-form">
                                        <form method="post" name="registerform">
                                            <label>Email Adresiniz <span>*</span> </label>
                                            <input name="email" type="text" onClick="this.select()" value="">
                                            <label>Şifre <span>*</span> </label>
                                            <input name="password" type="password" onClick="this.select()" value="">
                                            <button type="submit" class="btn float-btn color2-bg"> Giriş <i
                                                    class="fas fa-caret-right"></i></button>
                                            <div class="clearfix"></div>
                                            <div class="filter-tags">
                                                <input id="check-a3" type="checkbox" name="check">
                                                <label for="check-a3">Beni Hatırla</label>
                                            </div>
                                        </form>
                                        <div class="lost_password">
                                            <a href="#">Şifremi unuttum?</a>
                                        </div>
                                    </div>
                                </div>
                                <!--tab end -->
                                <!--tab -->
                                <div class="tab">
                                    <div id="tab-2" class="tab-content">
                                        <div class="custom-form">
                                            <form method="post" name="registerform" class="main-register-form"
                                                id="main-register-form2">
                                                <label>Tam Adınız <span>*</span> </label>
                                                <input name="name" type="text" onClick="this.select()" value="">
                                                <label>Email Adresi <span>*</span></label>
                                                <input name="email" type="text" onClick="this.select()" value="">
                                                <label>Şifre <span>*</span></label>
                                                <input name="password" type="password" onClick="this.select()" value="">
                                                <div class="filter-tags ft-list">
                                                    <input id="check-a2" type="checkbox" name="check">
                                                    <label for="check-a2"><a href="#">Gizlilik Sözleşmesi </a>'ni kabul
                                                        ediyorum.</label>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="filter-tags ft-list">
                                                    <input id="check-a" type="checkbox" name="check">
                                                    <label for="check-a"><a href="#">Şart ve Koşulları </a>kabul
                                                        ediyorum.</label>
                                                </div>
                                                <div class="clearfix"></div>
                                                <button type="submit" class="btn float-btn color2-bg"> Kaydol <i
                                                        class="fas fa-caret-right"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--tab end -->
                            </div>
                            <!--tabs end -->

                            <div class="wave-bg">
                                <div class='wave -one'></div>
                                <div class='wave -two'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--register form end -->
            <a class="to-top"><i class="fas fa-caret-up"></i></a>
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script src="/tema/js/jquery.min.js"></script>
       

         {{#if harita}}
        <script src="/tema/js/openlayer.js"></script>
        <script>
            $(function () {
                if (document.getElementById("singleMap")) {
                    map = new OpenLayers.Map("singleMap");
                    map.addLayer(new OpenLayers.Layer.OSM());
                    var lonLat = new OpenLayers.LonLat({{data.map_xy.boylam}}, {{data.map_xy.enlem}})
                        .transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            map.getProjectionObject() // to Spherical Mercator Projection
                        );
                    var zoom = 15;
                    var markers = new OpenLayers.Layer.Markers("Markers");
                    map.addLayer(markers);
                    var size = new OpenLayers.Size(40, 40);
                    var offset = new OpenLayers.Pixel(-(size.w / 2), -size.h);
                    var icon = new OpenLayers.Icon('/images/logo/fav1.png', size, offset);
                    markers.addMarker(new OpenLayers.Marker(lonLat, icon));
                    map.setCenter(lonLat, zoom);
                }
            })
        </script>
        {{/if}}

    </body>

    </html>