<!-- wrapper-->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="parallax-section small-par" data-scrollax-parent="true">
            <div class="bg"  data-bg="images/bg/hero/404-page-ararsin-com.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay op7"></div>
            <div class="container">
                <!-- <div  style="text-align: left; background:white;padding:40px;">
                    <h1>{{message}}</h1>
                    <h2>{{error.status}}</h2>
                    <pre>{{error.stack}}</pre>
                </div> -->
                <div  style="text-align: left; background:white;padding:40px;">
                    <h1>{{message}}</h1>
                    <h2>{{error.status}}</h2>
                    <pre>{{error.stack}}</pre>
                </div> 
                
                <div class="error-wrap">
                    <div class="bubbles">
                        <h2>404</h2>
                    </div>
                    <p>Üzgünüz, aradığınız sayfa bulunamadı.</p>

                    <div class="clearfix"></div>
                    <form action="#">
                        <input name="se" id="se" type="text" class="search" placeholder="Search.." value="Search...">
                        <button class="search-submit color-bg" id="submit_btn"><i class="fal fa-search"></i> </button>
                    </form>
                    <div class="clearfix"></div>
                    <p>Or</p>
                    <a href="/" class="btn   color2-bg">Anasayfaya Dön<i class="far fa-home-alt"></i></a>
                </div>
            </div>
        </section>
        <!--  section  end-->
    </div>
    <!--content end-->
</div>
<!-- wrapper end-->
