<!-- wrapper-->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="parallax-section single-par" data-scrollax-parent="true">
            <div class="bg par-elem "  data-bg="/images/diger/araniyor_arama_sayfasi.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay op7"></div>
            <div class="container">
                <div class="section-title center-align big-title">
                    <h2><span>Arama sonuçlarınız.</span></h2>
                    <span class="section-separator"></span>
                    <h4>Arama Sonuçlarında öne çıkmak ve daha çok müşteri kazanmak için Lütfen üye olup ararsin.com ile iletişime geçiniz.</h4>
                </div>
            </div>
            <div class="header-sec-link">
                <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a> 
            </div>
        </section>
        <!--  section  end-->
        <section class="gray-bg small-padding no-top-padding-sec" id="sec1">
            <div class="container">
                <div class="breadcrumbs inline-breadcrumbs fl-wrap block-breadcrumbs">
                    <a href="#">Home</a><a href="#">Listings</a><a href="#">New York</a><span>{{sayfalama}}</span>
                </div>
                <div class="fl-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- list-main-wrap-header-->
                            <div class="list-main-wrap-header fl-wrap block_box no-vis-shadow">
                                <!-- list-main-wrap-title-->
                                <div class="list-main-wrap-title">
                                    <h2>Aranan Kelime : <span>{{q}} </span></h2>
                                </div>
                                <!-- list-main-wrap-title end-->
                                <!-- list-main-wrap-opt-->
                                <div class="list-main-wrap-opt">
                                    <!-- price-opt-->
                                    <div class="grid-opt">
                                        <ul class="no-list-style">
                                            <li class="grid-opt_act"><span class="one-col-grid tolt" data-microtip-position="bottom" data-tooltip="Liste Görünümü"><i class="fal fa-list"></i></span></li>
                                            <li class="grid-opt_act"><span class="two-col-grid act-grid-opt tolt" data-microtip-position="bottom" data-tooltip="Tablo Görünümü"><i class="fal fa-th"></i></span></li>
                                        </ul>
                                    </div>
                                    <!-- price-opt end-->
                                </div>
                                <!-- list-main-wrap-opt end-->                    
                            </div>
                            <!-- list-main-wrap-header end-->                            
                            <!-- listing-item-container -->
                            <div class="listing-item-container init-grid-items fl-wrap nocolumn-lic three-columns-grid">
                                <!-- listing-item  -->
                                {{#each subs}}
                                <div class="listing-item">
                                    <article class="geodir-category-listing fl-wrap">
                                        <div class="geodir-category-img">
                                            <a href="/{{slug}}" class="geodir-category-img-wrap fl-wrap">
                                            <img src="/subs_image_auto/{{banner_image}}" alt=""> 
                                            </a>
                                            <div class="listing-avatar"><a href="/{{slug}}"><img src="/subs_profil_auto/{{profil_image}}" alt=""></a>
                                                <span class="avatar-tooltip">{{kisa_baslik}}</span>
                                            </div>
                                            <div class="geodir-category-opt">
                                                <div class="listing-rating-count-wrap">
                                                    <div class="review-score">4.0</div>
                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                                    <br>                                                
                                                    <div class="reviews-count">4 Değerlendirme</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="geodir-category-content fl-wrap title-sin_item">
                                            <div class="geodir-category-content-title fl-wrap">
                                                <div class="geodir-category-content-title-item">
                                                    <h3 class="title-sin_map"><a href="/{{slug}}">{{baslik}}</a><span class="verified-badge"><i class="fal fa-check"></i></span></h3>
                                                    <div class="geodir-category-location fl-wrap"><a href="/{{slug}}"><i class="fas fa-map-marker-alt"></i>  {{karakter adres 55}} ...</a></div>
                                                </div>
                                            </div>
                                            <div class="geodir-category-text fl-wrap">
                                                <p class="small-text">{{karakter hakkinda_kisa 180}} ...</p>
                                                <!-- <div class="facilities-list fl-wrap">
                                                    <div class="facilities-list-title">Facilities : </div>
                                                    <ul class="no-list-style">
                                                        <li class="tolt"  data-microtip-position="top" data-tooltip="Free WiFi"><i class="fal fa-wifi"></i></li>
                                                        <li class="tolt"  data-microtip-position="top" data-tooltip="Parking"><i class="fal fa-parking"></i></li>
                                                        <li class="tolt"  data-microtip-position="top" data-tooltip="Non-smoking Rooms"><i class="fal fa-smoking-ban"></i></li>
                                                        <li class="tolt"  data-microtip-position="top" data-tooltip="Pets Friendly"><i class="fal fa-dog-leashed"></i></li>
                                                    </ul>
                                                </div> -->
                                            </div>
                                            <div class="geodir-category-footer fl-wrap">
                                                <a class="listing-item-category-wrap">
                                                    <div class="listing-item-category  yellow-bg"><i class="fal fa-bed"></i></div>
                                                    <span>{{kategori}}</span>
                                                </a>
                                                <div class="geodir-opt-list">
                                                    <ul class="no-list-style">
                                                        <li><a href="/{{slug}}#sorusor" class="single-map-item"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Soru Sor</span></a></li>
                                                        <li><a href="/{{slug}}#harita" class="single-map-item" data-newlatitude="40.72228267" data-newlongitude="-73.99246214"><i class="fal fa-map-marker-alt"></i><span class="geodir-opt-tooltip">Yol tarifi al <strong>şimdi</strong></span></a></li>
                                                        <li><a href="/{{slug}}#galeri" class="single-map-item"><i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Galeri</span></a></li>

                                                    </ul>
                                                </div>
                                                <!-- <div class="price-level geodir-category_price">
                                                    <span class="price-level-item" data-pricerating="4"></span>
                                                    <span class="price-name-tooltip">Ultra High</span>
                                                </div> -->
                                                <div class="geodir-category_contacts">
                                                    <div class="close_gcc"><i class="fal fa-times-circle"></i></div>
                                                    <ul class="no-list-style">
                                                        <li><span><i class="fal fa-phone"></i> Call : </span><a href="#">+38099231212</a></li>
                                                        <li><span><i class="fal fa-envelope"></i> Write : </span><a href="#">yourmail@domain.com</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                {{/each}}
                                <!-- listing-item end -->                                                                                  
                                <div class="pagination fwmpag" id="sayfalama">
                                    {{#if p.onceki}}
                                    <div class="hide" id="onceki">{{p.onceki}}</div>
                                    <a href="" id="link-onceki" class="prevposts-link"><i class="fas fa-caret-left"></i><span>Önceki</span></a>
                                    {{/if}}
                                    {{#if p.sonraki}}
                                    <div class="hide" id="sonraki">{{p.sonraki}}</div>
                                    <a href="" id="link-sonraki" class="nextposts-link"><span>Sonraki</span><i class="fas fa-caret-right"></i></a>
                                    {{/if}}
                                </div>
                            </div>
                            <!-- listing-item-container end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end-->
</div>
<!-- wrapper end-->